html,
body,
#root {
  height: 100%;
  background-color: rgb(109, 144, 196);

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Town {
  background-color: rgba(141, 141, 141, 0.297);
  border-color: transparent;

  font-size: 2em;
}

.giornaliero {
  background-color: rgba(141, 141, 141, 0.297);
  border-color: transparent;
  border-bottom: 1px solid white;
}

.searchbar {
  width: 1000px;
}

.city {
  background-color: transparent;
  color: white;

}

.preferita {
  color: black;
  background-color: rgba(0, 0, 255, 0.591);
  border-color: transparent;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}